/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin:0px;
}

.mat-icon {
  vertical-align: middle;
}

.main {
  position: relative;
  /* top: 45px */
}

/* css to ovveride material default design for menu item */
.cdk-overlay-pane, .mat-menu-panel {
  width: 100%!important;
  max-width: 100% !important;
}

.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 500px)
{
  .cdk-overlay-container {
    display: none;
  }
}










.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

.inputBarcode video, .drawingBuffer {
  width:100%;
}

video {
  width: 100%!important;
}

.drawingBuffer{
  /* border: solid 1px blue; */
  /* width: 100vw;
  height:100vw; */
  width: calc(var(--vw, 1vw) * 100);
  /* max-width: 700px; */

}
