/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin:0px;
}

.mat-icon {
  vertical-align: middle;
}

.main {
  position: relative;
  top: 45px
}

/* css to ovveride material default design for menu item */
.cdk-overlay-pane, .mat-menu-panel {
  width: 100%!important;
  max-width: 100% !important;
}

.drawingBuffer {
  position: absolute;
  top: 0;
  left: 0;
}

@media screen and (min-width: 500px)
{
  .cdk-overlay-container {
    display: none;
  }
}



