<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </button>
  <button mat-menu-item>
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </button>
  <button mat-menu-item>
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </button>
</mat-menu>

<nav>
  <div class="mobile" mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </div>
  <div class="desktop">
    <mat-icon>dialpad</mat-icon>
    <span>Redial</span>
  </div>
  <div class="desktop">
    <mat-icon>voicemail</mat-icon>
    <span>Check voicemail</span>
  </div>
  <div class="desktop">
    <mat-icon>notifications_off</mat-icon>
    <span>Disable alerts</span>
  </div>
</nav>


