nav {
  position: relative;
  background-color: indigo;
  color:  white;
  width:100%;
  display:block;
  top:0;
  height: 45px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

nav button {
  color:  white;
  background-color: indigo;
}

.desktop {
  display: none;
}

.mobile {
  display: block;
  height: 45px;
  line-height: 45px;
}

.mat-menu-item:hover {
  background-color: #eee;
}

.app-title {
  position: absolute;
  left: 5px;
  line-height: 45px;
}

@media screen and (min-width: 500px)
{
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
    line-height: 45px;
    margin: 0 15px 0 15px;
  }

  .desktop span {
    padding-left: 10px;
  }
}
